.container{
  background-color: rgba(255, 255, 255, 1);
}

.header-part{
 width: auto;
 height: 100px; 
 
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}

.options{
  display: flex;

}

.nav-part{
  font-family:" Poppins";
  font-weight: bold;
  margin: 10px;
}
.option{
  margin: 6px;
}

.nav-item{
  margin: 10px;
  text-decoration: none;
  color: black;
}
.marmeto{
  font-family: "Montserrat";
}

.logo{
  width: 50px;
  height: auto;
}

.logo-container{
  display: flex;
  align-items: center;
  
}

.cart-bg{
  background-image: url("./assets/cart_bg.jpeg");
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width: 100%;
  height: 316px;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-container{
  width: 1240px;
  height: 390px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 30px;
  
}
.cart-options{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  height: 316px;
}

.vector{
 font-weight: bold;
}

.cart-optionss{
  display: flex;
  justify-content: space-evenly;
}

.leftcart{
  display: flex;
  flex-direction: column;

}
.leftcart-items{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width: 817px;
  height: 55px;
  background-color:rgba(249, 241, 231, 1);
  font-weight: bold;
  margin-right: 80px;

}

.leftcart-details{
  display:flex;
  
}
.product{
  margin: 16px;
}
.productone{
  margin: 10px;
}
.right-cart{
  background-color: rgba(249, 241, 231, 1);
  display: flex;
  width: 393px;
  flex-direction: column;
  align-items: center;
  
}

.footer-container{
  width: auto;
  height: 270px;
  background-color: rgba(250, 243, 234, 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtotal{
  display: flex;
  margin-right: 8px;

}

.total{
  display: flex;
  margin-right: 6px;
}

.btn{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  font-family: Poppins;
  font-weight: bold;
}

.cartbold{
  font-weight: bold;
}
.footersub{
  display: flex;

}

.footersubone{
  display: flex;
  flex-direction: column;
}

.footer-logo{
  height: 70px;
}

.nav{
  margin: 10px;
}

.fontmodel{
  font-family: Poppins;
}

.leftcart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 790px;
  border-radius: 5px;
  margin-bottom: 10px; /* Space between rows */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.number{
  width: 32px;
  height: 32px;
}

.price{
  color: rgba(159, 159, 159, 1);
  ;
}

.item-info{
  color: rgba(159, 159, 159, 1);
}